.form-for-password__button{
  margin: 216px 0 0 0;
  padding: 14px 0 14px 0;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity .3s linear;
}
.form-for-password__button:hover{
  opacity: 0.85;
}
@media screen and (max-width:425px) {
  .form-for-password__butt {
    min-width: 260px;
  }
}
