.form-for-password__form {
  display: flex;
  flex-direction: column;
  min-width: 358px;
  margin: 50px 0 0 0;
}

@media screen and (max-width:425px) {
  .form-for-password__form {
    min-width: 260px;
  }
}
